

<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>Acasă</title>
</head>

<body>
    <header>
        <h1>Lumea fructelor</h1>

    </header>

    <nav>
        <hr>
        <a href="#" >Acasă</a>&nbsp;&nbsp;
        <hr>
    </nav>
    <main id="continut">
        <%- body -%>
    </main>
    <hr>
    <footer>
        &copy;Dima Raul Andrei. 2021 . Programare web
    </footer>
</body>

</html>

